<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-5">
      <form action="/songs/add" method="post">
        <div class="form-group">
          <label for="title">Song Title</label>
          <input type="text"
                 class="form-control"
                 id="title"
                 name="title"
                 th:value="(${song} != null ? ${song.getTitle()} : '')"
                 required
                 placeholder=" Enter Song Title ">
        </div>
        <div class="form-group">
          <label for="trackId">Track Id</label>
          <input type="text"
                 class="form-control"
                 id="trackId"
                 name="trackId"
                 th:value="(${song} != null ? ${song.getTrackId()} : '')"
                 required
                 placeholder=" Enter Song TrackId">
        </div>
        <div class="form-group">
          <label for="genreName">GenreName</label>
          <input type="text"
                 class="form-control"
                 id="genreName"
                 name="genreName"
                 th:value="(${song} != null ? ${song.getGenre().getName()} : '')"
                 required
                 placeholder=" Enter Song GenreName">
        </div>
        <div class="form-group">
          <label for="genreDesc">GenreDesc</label>
          <input type="text"
                 class="form-control"
                 id="genreDesc"
                 name="genreDesc"
                 th:value="(${song} != null ? ${song.getGenre().getDescription()} : '')"
                 required
                 placeholder=" Enter Song GenreDesc">
        </div>
        <div class="form-group">
          <label for="releaseYear">releaseYear</label>
          <input type="text"
                 class="form-control"
                 id="releaseYear"
                 name="releaseYear"
                 th:value="(${song} != null ? ${song.getReleaseYear()} : '')"
                 required
                 placeholder=" Enter Song releaseYear">
        </div>
        <div class="form-group">
          <label>Album</label>
          <select name="album" class="form-control">
            <option th:if="${song} != null"
                    th:selected="${song.getAlbum() != null
                    && song.getAlbum().getId().equals(alb.getId())}"
                    th:each="alb : ${albums}"
                    th:text="${alb.getName()}"
                    th:value="${alb.getId()}">
            </option>
            <option th:if="${song} == null"
                    th:each="alb : ${albums}"
                    th:text="${alb.getName()}"
                    th:value="${alb.getId()}">
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a type="button" class="btn btn-primary" href="/songs">Back</a>
      </form>
    </div>

  </div>
</div>

</body>
</html>