<th:block xmlns:th="http://www.thymeleaf.org/">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add new Performer to Song</title>
        <style type = "text/css">
            table {
                width:100%;
            }
            table, td, th {
                border: 1px solid black;
                padding:3px 2px;
            }
            section {
                float: left;
                margin: 0 1.5%;
                width: 63%;
            }
            aside {
                float: right;
                margin: 0 1.5%;
                width: 30%;
            }
        </style>
    </head>
    <body>

    <form th:method="POST" th:action="@{/Artist}">
        <input th:name="radioSong" th:value="${songId}" type="hidden">
        <div th:each="artist : ${artists}">
            <input th:name="radioArtist" type="radio" th:value="${artist.id}">
            <label th:for="radioArtist" th:text="${artist.firstName} + ${' '} + ${artist.lastName}" ></label>

            <br>
        </div>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <input type='submit' value='Submit'>
        </th:block>
    </form>

    </section>
    <aside>
        <table>
            <tr>
                <!-- change to show selected trackId -->
                <td><b>Track Id</b></td>
                <td th:text="${songId}"></td>
            </tr>
        </table>
    </aside>

    <!-- Search -->
    <div class="container mb-5">
        <div class="row">
            <div>
                <form action="/Artist" method="GET">
                    <input th:name="radioSong" th:value="${songId}" type="hidden">
                    <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text"
                               class="form-control"
                               id="search"
                               name="search"
                               placeholder=" Enter search ">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a type="button" class="btn btn-primary" href="/songs">Back</a>
                </form>
            </div>

        </div>
    </div>

    </body>
    </html>
</th:block>