<html>
<head>
    <meta charset="utf-8">
    <title>Song Details</title>

</head>
<body>
<!--&lt;!&ndash; dynamically display data &#45;&#45; >-->
<header>
   <h1 th:text="${selectedSong.title}"></h1>
</header>
<section>
    <h2 th:text="${selectedSong.genre.getName()}">GenreName</h2>
    <h2 th:text="${selectedSong.genre.getDescription()}">GenreDesc</h2>
    <h2 th:text="${selectedSong.releaseYear}">Year</h2>
    <h2 >Performers:</h2>
    <ul th:each="performer : ${selectedSong.performers}">
        <li th:text="${performer.firstName} + ${' '} + ${performer.lastName}"></li>
    </ul>
<!--    <ul>-->
<!--        <li>Jon Bon Jovi</li>-->
<!--        <li>Richie Sambora</li>-->
<!--    </ul>-->
    <div th:each="artist : ${artists}">
        <span th:name="radioArtist" th:value="${artist.id}"></span>
        <label th:for="radioArtist" th:text="${artist.firstName} + ${' '} + ${artist.lastName}" ></label>
        <span th:name="artistBio" th:value="${artist.bio}"></span>
        <br>
        <h3>Songs performed:</h3>
        <div th:each="song : ${artist.getSongs()}">
            <br>
            <input th:name="radioSong" type="radio" th:value="${song.trackId}">
            <label th:for="radioSong" th:text="${song.title} + ${' '} + ${song.getGenre().getName()} + ${' '} + ${song.releaseYear}" ></label>
            <br>
        </div>


    </div>
</section>

</body>
</html>